.App {
      text-align: center;
      display: flex;
      align-items: center;
flex-direction: column;
justify-content: start;
min-height: 100vh;
color:aliceblue;
background-color:grey
      
}

.button{
padding: 10px 25px;
margin:20px;
width:300px;
background-color: #ffffff;
font-size:20px;
color:#007bff;
text-transform:uppercase;
border-radius:15px;

}
